<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>艺术展</title>
		<link rel="icon" href="img/logo.png" type="img/logo.png" />
		<link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css" />
		<script src="js/jquery-3.3.1.slim.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.pic-box {
				flex-wrap: wrap;
				justify-content: space-around;
			}
			.pic-box .card {
				margin-bottom: 1.5rem;
			}
			.pic-box .card .card-img-top {
				height: 200px;
			}
		</style>
	</head>
	<body>
		<header class="md-12 bg-primary pt-2 pb-5">
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link text-white" href="index.html">首页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="data.html">数据</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="login.html">管理</a>
				</li>
			</ul>
			<h1 class="display-4 text-center text-white mt-2">艺术展览</h1>
		</header>
		<main>
			<!-- 艺术图文展示区 -->
			<section class="container py-4 d-flex pic-box">
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
				<div class="card" style="width:320px">
					<img class="card-img-top" src="img/wallpaper.svg" alt="Card image" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wallpaper</h4>
						<p class="card-text text-truncate">这是一段用于测试的文本内容。</p>
						<p class="card-text"><small class="text-muted">照片更新于</small></p>
					</div>
				</div>
			</section>
			
			<!-- 翻页控制条 -->
			<section class="container text-center py-2">
				<a href="index?page=1" class="btn btn-sm bg-primary text-light">首页</a>
				<a href="index?page=<%= page-1 %>" class="btn btn-sm bg-primary text-light">上一页</a>
				<% for(var i=1; i<=sumPage; i++) { %>
				<a href="index?page=<%= i %>" class="btn btn-sm bg-primary text-light"></a>
				<% } %>
				<a href="index?page=<%= page-1+2 %>" class="btn btn-sm bg-primary text-light">下一页</a>
				<a href="index?page=<%= sumPage %>" class="btn btn-sm bg-primary text-light">末页</a>
				<h6 class="clear"></h6>
			</section>
		</main>
		<footer class="bg-light pt-2 pb-1">
			<h6 class="text-black text-center">&copy;&nbsp;2019，版权所有</h6>
		</footer>
	</body>
</html>