* {
    margin: 0px;
    font-family: 微软雅黑;
    list-style: none;
    letter-spacing: 0.1em;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:    none;
    user-select: none;
}
button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    background-color: rgb(54, 167, 224);
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}
a {
    color: #000;
    text-decoration: none;
}
.top {
    height: 149px;
}
.set-top {
    width: 1200px;
    margin: 0 auto;
}
.set-top img {
    width: 220px;
    margin: 30px 0 5px 20px;
}
.search {
    float: right;
    position: relative;
    width: 450px;
    margin: 50px 50px 0 0;
}
.search input {
    width: 100%;
    height: 42px;
    padding-left: 13px;
    padding-right:46px;
    border: rgb(223, 100, 76) solid 2px;
    border-radius: 5px;
    top: 0;
    right: 0;
}
.search button {
    border: none;
    outline: none;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgb(223, 100, 76);
    border-radius: 0 5px 5px 0;
    width: 100px;
    top: 0;
    right: 0;
}
.menu {
    height: 40px;
    background: rgb(223, 100, 76);
    overflow: hidden;
}
.menu-div {
    width: 1100px;
    margin: 0 auto;
}
.menu-div ul {
    position: absolute;
}
.menu-div li {
    float: left;
    width: 100px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    position: relative;
    left: -70px;
    margin-right: 5px;
}
.banner {
    background: center;
    overflow: hidden;
}
.banner img {
    width: 100%;
}
.banner-div {
    width: 265px;
    height: 400px;
    overflow: hidden;
    left: 1292px;
}
.sign1-banner {
    height: 245px;
    margin-bottom: 10px;
}
.sign1-banner h2 {
    width: 180px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-bottom: none;
    padding-top: 0px;
    color: #FFFFFF;
    margin: 0px auto -10px;
}
.sign1-banner p {
    text-align: center;
}
.sign1-banner img {
    width: 110px;
    margin: 25px auto 0;
}
.sign1-banner dd {
    text-align: center;
    margin-top: 20px;
}
#signin, #signup {
    width: 95px;
    height: 35px;
    background-color: #FFFFFF;
    color: rgb(224, 107, 85);
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    border: 2px solid rgb(224, 107, 85);
}
#signup {
    background-color: rgb(224, 107, 85);
    color: #ffffff;
}
.sign2-banner {
    height: 145px;
}
.sign2-banner p {
    margin: 15px 10px 20px 20px;
    font-size: 14px;
    color: #FFFFFF;
}
.sign2-banner span {
    float: right;
    font-size: 13px;
    color: rgb(240, 240, 240);
}
.sign2-banner ul {

}
.sign2-banner ul li {
    list-style: disc;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 23px;
}
.sy1-div {
    width: 1215px;
    margin: -16px auto;
}
.svc {
    position: relative;
    float: left;
    margin: 24px 8px;
}
.text-svc {
    position: absolute;
    z-index: 2;
    left: 10%;
    top: 20%;
    width: 180px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
}
.text-svc h2 {
    font-size: 22px;
    font-weight: 500;
}
.text-svc h6 {
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0 10px 0;
}
.text-svc button {
    border: none;
    background-color: rgb(47, 131, 198);
    border-radius: 10px;
    height: 30px;
    width: 105px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
#svc1 {
    color: rgb(47, 131, 198);
}
#svc2 {
    color: rgb(75, 117, 142);
}
#svc3 {
    color: rgb(94, 117, 98);
}
#svc4 {
    color: rgb(130, 91, 149);
}
#svc1 button {
    background-color: rgb(47, 131, 198);
}
#svc2 button {
    background-color: rgb(75, 117, 142);
}
#svc3 button {
    background-color: rgb(94, 117, 98);
}
#svc4 button {
    background-color: rgb(130, 91, 149);
}
.body2 {
    width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 28px;
    margin-top: 15px;
}
.body2 img {
    float: left;
}
.body2 dd {
    text-align: center;
    width: 252px;
    float: left;
    height: 277px;
    background: rgba(255,255,255,1.00);
    border-right: rgb(227,227,227) solid 1px;
}
.body2 dd img {
    float: none;
    margin: 20px 52px 0 52px;
}
.body2 dd h5 {
    width: 265px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    color: rgb(107,107,107);
}
.body2 dd h4 {
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-left: 42px;
    margin-top: 15px;
    font-weight: 500;
    color: rgba(255,255,255,1.00);
    float: left;
    background:rgb(223,100,76);
}
.body2 dd p {
    width: 90px;
    height: 28px;
    line-height: 30px;
    margin-top: 15px;
    overflow: hidden;
    border-right: rgb(223,100,76) solid 1px;
    border-top: rgb(223,100,76) solid 1px;
    border-bottom: rgb(223,100,76) solid 1px;
}
.body2 dd s {
    color: rgb(107,107,107);
}
.body3 {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto 15px;
}
.body3-1 {
    width: 393px;
    float: left;
    margin-right: 11px;
    background: rgba(255,255,255,1.00);
}
.body3-1 h3 {
    color: rgb(107,107,107);
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
	line-height: 44px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: rgb(227,227,227) solid 1px;
}
.body3-1 dd {
    width: 393px;
    overflow: hidden;
}
.body3-1 dd img {
    float: left;
    width: 100px;
    margin: 10px;
}
.body3-1 dd h2 {
    float: left;
    font-size: 30px;
    color: rgb(223,100,76);
    height: 120px;
    line-height: 120px;
    margin: 0 10px 0 0;
    padding: 0px;
    border: none;
}
.body3-1 dd p {
    margin-top: 40px;
    color: rgb(107,107,107);
    font-size: 16px;
}
.body3-2 {
    width: 392px;
    float: left;
    background: rgba(255,255,255,1.00);
}
.body3-2 h3 {
    color: rgb(107,107,107);
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
	line-height: 44px;	
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: rgb(227,227,227) solid 1px;
}
.body3-2 dd {
    width: 392px;
    height: 120px;
    overflow: hidden;
}
.body3-2 dd img {
    height: 100px;
    margin-left: 35px;
    margin-top: 10px;
}
.body4 {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.body4 h3 {
    color: rgb(79,79,79);
    margin: 0 10px;
    font-size: 25px;
    font-weight: 500;
	line-height: 35px;
	padding-top: 5px;
    padding-bottom: 10px;
}
.body4-1 {
    float: left;
    width: 239px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background: rgba(255,255,255,1.00);
    border-right: rgb(227,227,227) solid 1px;
}
.body4-1 img {
    width: 150px;
    margin: 25px 50px 0;
}
.body4-1 h4 {
    width: 249px;
    font-size: 14px;
    text-align: center;
    color: rgb(79,79,79);
}
.body4-1 p {
    width: 249px;
    text-align: center;
    color: rgb(107,107,107);
    font-size: 14px;
    margin-top: 8px;
}
.body4-1 a {
    color: rgb(223,100,76);
    font-size: 14px;
}

    /*用户帮助*/
.yh1-body {
    height: 70px;
    background: rgb(239, 239, 239);
}
.yh1-body p {
    margin:0 auto;
    text-align: center;
    width: 1400px;
    color: rgb(104, 104, 104);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.3em;
    line-height: 63px;
    padding-top: 3px;
}
.yh1-body button {
    background-color: rgb(223, 99, 76);
}
.yh2-body {
    height: 65px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.yh2-body h2 {
    text-align: center;
    font-weight: normal;
    height: 40px;
    font-size: 26px;
    margin: 0 46%;
    padding-top: 24px;
    border-bottom: #000 solid 2px;
}
.yh3-body {
    height: 590px;
}
.svc-yh3 {
    width: 1100px;
    margin: 0 auto;
    padding-top: 10px;
}
.service {
    float: left;
    text-align: center;
    width: 365px;
    height: 295px;
}
.service img {
    margin: 20px 0;
}
.service b {
    font-size: 16px;
    font-weight: normal;
}
.service p {
    padding: 10px 2em 0 2em;
    font-size: 15px;
    color: rgb(128,128,128);
    text-align: justify;
}
.pro-div {
    width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 5px;
}
.pro {
    position: relative;
    float: left;
    margin: 5px 5px 0 6px;
}
.yh4-body {
    height: 450px;
}
.text-pro {
    position: absolute;
    z-index: 2;
    left: 15%;
    top: 34%;
    width: 180px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #fff;
}
.text-pro p {
    font-size: 20px;
    padding-bottom: 0.2em;
}
.text-pro span {
    text-align: justify;
    letter-spacing: 0em;
}
.text-pro b {
    text-align: center;
    letter-spacing: 0em;
    font-weight: normal;
}
.yh5-body {
    width: 1100px;
    height: 170px;
    color: rgb(8, 8, 20);
    font-size: 14px;
    line-height: 25px;
    margin: 0 auto;
    padding-top: 40px;
	padding-bottom: 10px;
    overflow: hidden;
}
.ask {
    width: 40%;
    float: left;
}
.ans {
    width: 60%;
    float: right;
}
.ask ul {
    padding-left: 10px;
}
.bottom {
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-top: rgb(204, 204, 204) solid 1px;
}
.bt-div {
    width: 1200px;
    margin: 0 auto;
}
.bt-menu ul {
    width: 600px;
    height: 60px;
    padding-left: 0px;
    float: left;
}
.bt-menu li {
    float: left;
    font-size: 14px;
    line-height: 60px;
    color: rgb(128, 128, 128);
}
.bt-menu a {
    text-align: left;
    color: rgb(128, 128, 128);
}
.bt-menu li span {
    padding: 0 10px;
}
.bt-menu dd {
    float: right;
    width: 240px;
    height: 60px;
    padding-top: 25px;
    text-align: right;
}
.bt-menu dd p {
    color: rgb(128, 128, 128);
    font-size: 16px;
    padding-bottom: 5px;
}
.bt-menu dd span {
    color: rgb(54, 167, 224);
    font-weight: bold;
}
.bt-menu dd button {
    margin-top: 10px;
}
/* 个人中心 */
.gr1-body {
    height: 40px;
    background: rgb(223, 100, 76);
    overflow: hidden;
}
.menu-div {
    width: 1100px;
    margin: 0 auto;
}
.menu-div ul {
    position: absolute;
}
.gr1-body li {
    float: left;
    width: 100px;
    height: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    position: relative;
    left: -70px;
    margin-right: 5px;
}
.gr2-body {
    width: 1120px;
    margin: 34px auto 0 auto;
}
.left-gr2 {
    float: left;
    width: 160px;
    background-color: #ffffff;
    margin-right: 20px;
    overflow: hidden;
}
.left-gr2 h3 {
    width: 160px;
    height: 33px;
    line-height: 33px;
    margin-top: 20px;
    padding-left: 2.4em;
    font-size: 16px;
    font-weight: 500;
    color: rgb(107, 107, 107);
    background-image: url("./img/gr/bar.png");
}
.left-gr2 li {
    width: 160px;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
    color: rgb(128, 128, 128);
}
#gr2 {
    color: rgb(149,149,149);
}
.right-gr2 {
    width: 100%;
}
.gr1-body-right {
    width: 920px;
    float: left;
    margin-left: 20px;
}
.gr1-body-right1 {
    width: 920px;
	height: 140px;
    float: left;
    background: #FFFFFF;
    margin-bottom: 20px;
	padding-top: 20px;
}
.gr1-body-right1-left {
    width: 440px;
    float: left;
	margin-left: 10px;
}
.gr1-body-right1-left dd {
    margin-top: 15px;
    margin-left: 142px;
    overflow: hidden;
}
.gr1-body-right1-left img {
    width: 130px;
    height: 130px;
    float: left;
}
.gr1-body-right1-left img a {
    height: 0px;
}
.gr1-body-right1-left h4 {
    width: 250px;
    height: 25px;
    color: rgb(107,106,106);
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
}
.gr1-body-right1-left h4 p1 {
    float: right;
    color: rgb(229,189,92);
}
.gr1-body-right1-left h4 p2 {
    float: right;
    color: rgb(119,195,151);
}
.gr1-body-right1-left h4 img {
    width: 135px;
    height: 10px;
    float: inherit;
}
.gr1-body-right1-left ul {
    width: 250px;
    overflow:hidden;
    padding: 0 0 0 0;
}
.gr1-body-right1-left li img {
    width: 22px;
    height: 22px;
    margin:5px 15px 0 0;
}
.gr1-body-right1-right1 {
    width: 450px;
    height: 130px;
    float: left;
    overflow: hidden;
}
.gr1-body-right1-right1 dd {
    width: 300px;
    height: 115px;
    margin-left: 50px;
    margin-top: 15px;
}
.gr1-body-right1-right1 h3 {
    height: 30px;
    font-size: 14px;
    font-weight: 500;
}
.gr1-body-right1-right1 a {
    color: rgb(223,99,76);
    border-bottom: rgb(223,99,76) solid 1px;
}
.gr1-body-right1-right1 h3 span {
    float: right;
}
.gr1-body-right1-right1 h4 {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    width: 116px;
    height: 30px;
    background: rgb(231,231,230);
}
.gr1-body-right2 {
    width: 933px;
    margin-bottom: 20px;
    overflow: hidden;
}
.gr1-body-right2 dd {
    width: 220px;
    height: 220px;
    margin-right: 13px;
    float: left;
    background: #FFFFFF;
}
.gr1-body-right2 h4 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(107,107,107);
    margin: 15px 10px 0 10px;
    padding-bottom: 5px;
    border-bottom: rgb(248,248,248) solid 3px;
}
.gr1-body-right2 h3 {
    color: rgb(107,107,107);
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    text-align: center;
    padding: 40px 0 40px 0;
    margin-left: 10px;
    border-bottom: rgb(248,248,248) solid 3px;
}
.gr1-body-right2 p {
    width: 200px;
    font-weight: 500;
    text-align: center;
    margin: 10px 10px 0 10px;
}
.gr1-body-right2 p a {
    color: rgb(223,99,76);
    font-size: 16px;
}
.gr1-body-right2  h3 a {
    color: rgb(223,99,76);
    font-size: 26px;
    border-bottom: rgb(223,99,76) solid 1px;
}
.gr1-body-right3 {
    overflow: hidden;
    margin-bottom: 20px;
    width: 920px;
    background: #FFFFFF;
}
.gr1-body-right3 h2 {
    text-align: left;
    width: 900px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(107,107,107);
    margin: 0 0 0 20px;
    float: left;
    border-bottom: rgb(248,248,248) solid 3px;
}
.gr1-body-right3 span {
    margin-right: 50px;
    float: right;
    line-height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-1 {
    width: 900px;
    height: 150px;
    overflow: hidden;
    margin-left: 10px;
    background: rgba(255,255,255,1.00);
    border-bottom: rgb(248,248,248) solid 3px;
}
.gr1-body-right3-1 dd {
    float: left;
    margin-right: 40px;
    margin-top: 15px;
}
.gr1-body-right3-1 dd h4 {
    overflow: hidden;
    width: 200px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 35px;
}
.gr1-body-right3-1 dd p{
    overflow: hidden;
    margin-top: 5px;
    width: 200px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-1 dt {
    float: left;
    height: 120px;
    margin: 0 40px;
}
.gr1-body-right3-1 dt h4 {
    overflow: hidden;
    text-align: center;
    width: 100px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 35px;
}
.gr1-body-right3-1 dt p{
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
    width: 100px;
    font-size: 10px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-1 dl {
    float: left;
    height: 120px;
    margin: 0 40px;
}
.gr1-body-right3-1 dl p{
    overflow: hidden;
    text-align: center;
    margin-top: 35px;
    width: 100px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-1 ul {
    float: left;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 18px 40px 0;
}
.gr1-body-right3-1 li {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(107,107,107);
    margin-bottom: 5px;
}
.gr1-body-right3-1 img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.gr1-body-right3-2 {
    width: 900px;
    height: 150px;
    background: rgba(255,255,255,1.00);
    margin-top: 15px;
}
.gr1-body-right3-2 dd {
    float: left;
    margin-right: 40px;
}
.gr1-body-right3-2 dd h4 {
    overflow: hidden;
    width: 210px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 35px;
}
.gr1-body-right3-2 dd p{
    overflow: hidden;
    margin-top: 5px;
    width: 210px;
    font-size: 11px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-2 dt {
    float: left;
    height: 120px;
    margin: 0 40px;
}
.gr1-body-right3-2 dt h4 {
    overflow: hidden;
    text-align: center;
    width: 100px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 35px;
}
.gr1-body-right3-2 dt p{
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
    width: 100px;
    font-size: 10px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-2 dl {
    float: left;
    height: 120px;
    margin: 0 40px;
}
.gr1-body-right3-2 dl p{
    overflow: hidden;
    text-align: center;
    margin-top: 35px;
    width: 100px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right3-2 ul {
    float: left;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 18px 0 0 40px;
}
.gr1-body-right3-2 li {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(107,107,107);
    margin-bottom: 5px;
}
.gr1-body-right3-2 img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;

}
.gr1-body-right4 {
    overflow: hidden;
    width: 920px;
    background: #FFFFFF;
    margin-bottom: 50px;
    padding-bottom: 15px;
	margin-left: 180px;
}
.gr1-body-right4 h2 {
    text-align: left;
    width: 900px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(107,107,107);
    margin: 0 0 0 20px;
    float: left;
    border-bottom: rgb(248,248,248) solid 3px;
}
.gr1-body-right4 span {
    margin-right: 50px;
    float: right;
    line-height: 50px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(107,107,107);
}
.gr1-body-right4 dd {
    float: left;
    width: 180px;
}
.gr1-body-right4 img {
    margin: 10px;
    width: 160px;
    height: 160px;
    border-right: rgb(248,248,248) solid 3px;
}
.gr1-body-right4 h4 {
    width: 150px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(107,107,107);
    margin-left: 30px;
}
.gr1-body-right4 p {
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(223,99,76);
    margin-left: 26px;
}


    /*登陆界面*/
.dl-top {
    border-bottom: 3px solid rgb(239, 158, 90);
    height: 110px;
}
.dl-top img {
    width: 200px;
    height: 64px;
}
.dl-div {
    background-color: #ffffff;
    width: 410px;
    height: 530px;
    margin: 100px auto;
}
.sign {
    clear: right;
}
.sign h2 {
    text-align: center;
    width: 125px;
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    color: rgb(107, 107, 107);
    border-bottom: 3px solid rgb(223, 99, 76);
    clear: right;
    margin: 0px auto 30px auto;
    padding-top: 20px;
}
.sign dl {
    left: 42%;
    width: 315px;
    color: rgb(107, 107, 107);
    position: absolute;
}
.sign dl input {
    text-align: center;
    width: 75%;
    height: 35px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 2px;
    padding-left: 60px;
    text-align: left;
}
.sign dl p {
    position: relative;
    border: none;
    height: 35px;
    width: 42px;
    cursor: pointer;
    left: 10px;
    top: -37px;
    line-height: 35px;
    border-right: 1px solid rgb(215, 215, 215);
}
.sign dl span {
    float: left;
    width: 85px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    line-height: 33px;
}
.sign dl span input {
    float: left;
    width: 15px;
    border: none;
    border-color: rgb(215, 215, 215);
}
.sign dl span input[type=checkbox]{
    -webkit-appearance:checkbox;
}
.sign dl span input:focus {
    outline: 0 !important;
}
.sign dl span input::-moz-focus-inner {
    border-color: transparent !important;
}
.sign dl a b {
    float: right;
    color: rgb(99, 129, 192);
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    line-height: 33px;
}
.sign button {
    position: relative;
    top: 235px;
    left: 13%;
    width: 300px;
    border-radius: 12px;
    background-color: rgb(223, 99, 76);
    height: 40px;
    margin: 10px auto;
}
.dl-div hr {
    width: 315px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    border: none;
    height: 3px;
    background-color: rgb(240, 240, 240);
}
.dl-div h4 {
    width: 110px;
    height: 25px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: rgb(170, 170, 170);
    background-color: #ffffff;
    position: relative;
    top: 253px;
    left: 150px;
}
.dl-div dd {
    position: relative;
    top: 260px;
    left: 50px;
}
.dl-div dd img {
    float: left;
    width: 60px;
    margin: 0 22px;
}

    /*联系我们*/
.lx1-body {
    width: 1200px;
    height: 410px;
    background-color: #FFFFFF;
    margin: 20px auto;
    padding-top: 25px;
}
.bg-lx1 {
    width: 1140px;
    height: 385px;
    margin: auto;
    background-color: rgb(249, 249, 249);
}
.left-lx1 {
    width: 500px;
    height: 338px;
    float: left;
    padding: 96px 0 0 62px;
    color: rgb(122, 121, 122);
}
.left-lx1 h2 {
    font-size: 26px;
    font-weight: bold;
}
.left-lx1 dd {
    margin-top: 25px;
}
.left-lx1 dd h3 {
    font-size: 16px;
    line-height: 40px;
}
.left-lx1 dd h4 {
    font-size: 15px;
    padding-left: 3em;
	font-weight: normal;
}
.right-lx1 {
    width: 570px;
    height: 350px;
    float: right;
}
.right-lx1 img {
    width: 510px;
    height: 265px;
    margin-top: 65px;
    margin-left: 20px;
}
.lx2-body {
    background-color: #FFFFFF;
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}
.lx2-div {
    width: 500px;
    height: 100px;
    float: left;
    margin: 25px 0 25px 250px;
}
.lx2-div p {
    float: left;
    line-height: 150px;
}
.lx2-div dd {
    margin-left: 140px;
    line-height: 30px;
    padding-top: 20px;
}
.lx2-div dd h3, .lx2-div dd h4 {
    font-size:16px;
    font-weight: bolder;
    color: rgb(80, 80, 80);
}
.lx2-body button {
    width: 160px;
    height: 40px;
    color: #FFFFFF;
    background-color: rgb(223, 99, 76);
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 65px;
}
.lx3-body {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 30px;
}
.lx3 {
    width: 555px;
    height: 250px;
    float: left;
    background-color: #FFFFFF;
    padding: 25px 0 0 35px;
    color: rgb(122, 121, 122);
}
.lx3 h2 {
    font-size: 26px;
    margin: 60px 0 20px 50px;
}
.lx3 h4{
    margin-left: 3em;
    line-height: 30px;
}
#lx3-1 {
    margin-right: 20px;
}

    /*数码回收*/
.sm-body {
    background: rgb(249,249,249);
    padding-bottom: 40px;
    overflow: hidden;
}
.sm-body hr {
    color: rgb(79,79,79);
    margin-top: 30px;
}
.sm-body1 {
    width: 1200px;
    margin: auto;
}
.sm-body1 h1 {
    width: 1200px;
    height: 90px;
    line-height: 104px;
    text-align: center;
    color: rgb(79,78,79);
    font-size: 35px;
}
.sm-body2 {
    width: 1200px;
    margin: auto;
}
.sm-body2-1 {
    width: 1200px;
    margin: auto ;
    background: rgba(255,255,255,1.00);
}
.sm-body2-1 h1 {
    width: 1200px;
    height: 90px;
    line-height: 110px;
    text-align: center;
    color: rgb(223,99,76);
    font-size: 28px;
    font-weight: 500;
}
.sm-body2-1 p {
    width: 800px;
    font-size: 20px;
    padding: 0 200px 30px;
    text-align: center;
}
#sm-2 {
	font-size: 16px;
	color: #808080;
	padding-bottom: 50px;
}

    /*产品购买、二手专区、官方配件*/
.cp-body1 {
    width: 1200px;
    margin: 30px auto;
    border: rgb(244,244,243) solid 2px;
}
.cp-body1-1 {
    width: 1200px;
    overflow: hidden;
    background: rgb(250,250,251);
}
.cp-body1-1 h4 {
    font-size: 14px;
    font-weight: normal;
    width: 105px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: rgb(244,244,243);
    color: rgb(79,78,79);
    float: left;
}
.cp-body1-1 ul {
    width: 1040px;
    border-bottom: 2px solid rgb(244,244,243);
    overflow: hidden;
}
.cp-body1-1 li {
    font-size: 13px;
    float: left;
    height: 68px;
    line-height: 68px;
    margin-left: 3px;
    margin-right: 37px;
    color: rgb(244,244,243);
}
#cp-body1-1-ul {
    border: none;
}
.cp-body1-1 a {
    color: rgb(128,128,128);
}
#a1 {
    color: rgb(223,99,76);
}
.cp-body2 {
    width: 1205px;
    height: 44px;
    margin: auto;
    margin-bottom: 25px;
    background: rgb(244,244,243);
}
.cp-body2 ul {
    width: 630px;
    float: left;
    padding: 0px;
    overflow: hidden;
    border: rgb(244,244,243) solid 2px;
}
.cp-body2 li {
    width: 105px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    float: left;
    background: rgb(244,244,243);
}
.cp-body2 a {
    color: rgb(128,128,128);
}
.cp-body2 input {
    width: 50px;
    height: 22px;
    border: none    ;
}
.cp-body2 span {
    line-height: 43px;
}
.cp-body2 button {
    width: 50px;
    height: 25px;
    font-size: 12px;
    font-weight: normal;
    background-color: rgb(223, 100, 76);
    margin-left: 5px;
}
.cp-body2 h6 {
    width: 105px;
    height: 40px;
    font-size: 13px;
    background: rgba(255,255,255,1.00);
}
.cp-body2 h5{
    width: 105px;
    text-align: center;
    margin-left: 30px;
    font-size: 13px;
    float: left;
    height: 44px;
    line-height: 44px;
    font-weight: normal;
    background: rgb(244,244,243);
    color: rgb(128,128,128);
}
.cp-body3 {
    width: 1225px;
    height: 1240px;
    margin: auto;
}
.cp-body3-1 {
    width: 220px;
    height: 280px;
    float: left;
    margin-left: 8px;
    margin-right: 13px;
    margin-bottom: 20px;
    border: rgb(244,244,243) solid 2px;
}
.cp-body3-1 img {
    width: 180px;
    margin: 17px 22px 0;
}
.cp-body3-1 h5 {
    width: 180px;
    height: 30px;
    line-height: 30px;
    margin-left: 22px;
    color:  rgb(128,128,128);
    text-align: center;
    font-weight: normal;
    font-size: 11px;
}
.cp-body3-1 p {
    width: 172px;
    height: 35px;
    margin-left: 26px;
    line-height: 35px;
    color: rgb(223,99,76);
}
.cp-body3-1 p img {
    width: 30px;
    margin: 0px;
    float: right;
}